/* Universal Styles */

html {
  font-size: 16px;
}

body {
  line-height: 1;
  margin: 0;
  padding-top: 0;
  font-family:'Cormorant Garamond'
}

.container {
  max-width: 900px;
  margin: 0 auto;
  border: px solid black;
  font-family: "Proza Libre", sans-serif;
}


/* Navigation Section */

nav {
  position: fixed;
  left: -17.8em;
  display: flex;
  align-items: center;
  height: 100%;
  padding-left: 2.5rem;
  padding-right: 2rem;
  background: url("https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-6/nav_background.png") center center repeat;
  font-family: "Proza Libre", serif;
  font-size: 18px;
  line-height: 2.2;
  font-weight: bold;
  color: #142033;
}

nav:hover {
  left: 0;
}

nav .hover-content {
  margin-right: 3em;
}

nav h2 {
  font-family: "Cormorant Garamond", serif;
  font-size: 2.6em;
  font-weight: bold;
  color: #639eff;
}

nav h3 {
  padding-bottom: 1.1em;
}

nav ol {
  list-style: upper-roman outside;
}

nav a {
  text-decoration: none;
  color: inherit;

}

nav a:hover,
nav a.active {
  color: #639eff;
}


/* Header Section */


header {
  padding: 3.125rem 13rem;
  background-color: #142033;
  text-align: center;
  font-weight: bold;
  color: #b3d0ff;
}

header h1 {
  line-height: ;
  font-size: 6rem;
  font-weight: 500;
  color: #66a1ff;
}

header h4 {
  margin-top: -3rem;
  font-size: 1.5rem;
}

header h3 {
  font-size: 3rem;
  font-weight: 500;
}

/* Responsive Section */





/* Book Section */


.container h3 {
  text-align: center;
  font-size: 3rem;
  padding-top: 4rem;
  font-weight: bold;
  color: #142033;
}

.chapter {
  color: #639eff;
  font-weight: 400;
}

.chapter h6 {
  margin-top: -0.8rem;
  font-size: 1.2rem;
  font-weight: 400;
}

.chapter h5 {
  margin-top: -0.8rem;
  text-align: left;
  font-size: 2.25rem;
  color: #639eff;
  font-weight: 400;
}

.Story {
  margin-top: -2.1rem;
  font-size: 1.6rem;
  line-height: 2;
  font-weight: 400;
  font-family: sans-serif;
}

/* Definition Links Section */

.definition {
  text-decoration: none;
  color: #639eff;
}

.definable {
  display: inline;
}

.definition .word:hover {
  color: #306acc;
}

.definable .definition-container {
 position: fixed;
 z-index: 10;
  top: -100%;
  left: 0;
  box-sizing: border-box;
  width: 100%;
  padding: 0.5rem 4rem 2rem 4rem;
  background-color: #ffffff;
  box-shadow: 0 0 64px 0 rgba(0, 0, 0, 0.2);
  opacity: 0;
  font-family: "Proza Libre", sans-serif;
  font-size: 1.5rem;
}

.definable:hover .definition-container {
  top: 0;
  opacity: 1;
}








/* Navigation Buttons */

.navigation-buttons {
  display: flex;
  justify-content: space-between;
  padding-top: 3rem;
}

.navigation-buttons .button:hover {
  background-color: #639eff;
  opacity: 1;
}

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
  padding: 1.8rem 2rem;
  background-color: #639eff;
  color: white;
  opacity: 0.3;
  font-weight: bold;
  text-decoration: none;
  margin-bottom: 5rem;
}

.button .back {
  padding-left: 1rem;
}

.button .next {
  padding-right: 1rem;
}
