body {
  margin: 0;
  padding: 0;
  border: 0;
  width: 100%;
  height: 100%;
  font-family: Georgia;
  font-size: 17px;
  color: black;

}

header {
  display: flex;
  align-items: center;
  position: fixed;
  height: 81px;
  width: 100%;
  border-bottom: 1px solid black;
  background-color: white;
  font-family: Verdana;
  font-size: 14px;
  font-weight: bold;
}

.logo {
  display: flex;
  align-items: center;
  flex-grow: 1;
  padding-left: 40px;
  color: MediumAquamarine;
}

.logo img {
  width: 70px;
  height: 60px;
  padding-right: 12px;
}

header nav {
  padding-right: 40px;
}

nav span {
  display: inline-block;
  padding: 20px 10px;
}

nav span a {
  color: black;
}

/* Main Content */

.content {
  display: flex;
  width: 1232px;
  margin: 0 auto 78px auto;
  padding-top: 116px;
}

div {
  border: 0px solid white;
  display: block;
}

.column {
  display: flex;
  flex-direction: column;
  margin-right: 32px;
}

.column.large {
  width: 630px;
}

.column.medium {
  width: 300px;
}

.column.small {
  width: 240px;
}

.image {
  height: 300px;
  margin-top: 15px;
  font-family: Georgia;
  font-weight: bold;
  font-size: 30px;
  color: white;
  text-align: center;
}

.smalltitle {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-main.png);
  width: 630px;
  margin-top: 0;
  text-align: left;
  font-size: 40px;
}

 p.storybody {
  font-family: Georgia;
  font-size: 15px;
  color: black;
}

.smalltitle2 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-2.png);
}

.smalltitle3 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-3.png);
}

.smalltitle4 {
  background-image: url(https://s3.amazonaws.com/codecademy-content/courses/freelance-1/unit-4/img-story-1.png);
}

.story {
  display: flex;
  flex-direction: column;
  width: 300px;
}
